* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Negro: #000000;
    --Colorfondo: #f5f5f5;
    --Piedepagina: #100a1f;
    --BotonesPiedepagina: #241744;
    --Blanco: #ffffff;
    --hoverBoton: #137c32;
    --Gris: #aaa;
    --Naranja: #ff8c00; 
    --hoverNaranja: #e57800; 
}

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--Colorfondo);
    color: var(--Negro);
    line-height: 1.6; 
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto 100px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
    gap: 20px;
}

.contenedor .pelicula {
    text-align: center;
}

.contenedor .pelicula .titulo {
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.contenedor .pelicula .poster {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.paginacion {
    position: fixed;
    bottom: 0;
    background: var(--Piedepagina);
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px;
    border-top: 4px solid var(--Naranja); 
}

.paginacion button {
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 200px;
    background: var(--BotonesPiedepagina);
    color: var(--Blanco);
    border-radius: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    transition: background 0.3s ease;
}

.paginacion button:hover {
    background: var(--hoverNaranja); 
}

.buscador {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.buscador input {
    width: 100%;
    max-width: 500px;
    padding: 12px;
    border: 2px solid var(--BotonesPiedepagina);
    border-radius: 50px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.buscador input:focus {
    border-color: var(--Naranja);
    box-shadow: 0 0 5px var(--Naranja);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: var(--Blanco);
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 500px;
    text-align: center;
    margin-top: 10px;
}

#posterModal {
    width: 30%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.close {
    color: var(--Gris);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--Negro);
    text-decoration: none;
    cursor: pointer;
}

#tituloModal {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.modal-content p {
    font-size: 16px;
    color: var(--Negro);
    margin: 20px;
}

.modal-content strong {
    font-weight: bold;
}


.firma {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 1rem;
    color: var(--Blanco);
    background-color: rgba(0, 0, 0, 0.2); /* Fondo semitransparente */
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-family: "Dancing Script", cursive; /* Fuente estilo manuscrito */
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para darle dimensión */
    text-align: center;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.firma:hover {
    transform: scale(1.1); /* Ampliación ligera al pasar el ratón */
    background-color: rgba(0, 0, 0, 0.4); /* Fondo más llamativo */
}
